<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<body>
    This is product page
    <form action="/save-product" method="post">
        <input type="text" name="product_name" placeholder="Input product name">
        <input type="number" name="product_qty" id="" placeholder="Qty">
        <button type="submit">Save</button>
    </form>
</body>
</html>